<% include partials/header %>

<br>
<br>
<br>
<br>
<div class="container">
	<div style="text-align: center">
		<h1> Menu Details </h1>
		<img src="/images/<%= menus.image %>" />
		<br>
		<p>Name: <%= menus.name %></p>
		<p>Price: $<%= menus.price %></p>
		<p>Type: <%= menus.type %></p>
		<p>Inventory: <%= menus.inventory %></p>
		<p>Decription: <%= menus.description %></p>

		<% if(user && user.isAdmin) { %>
			<a class="btn btn-warning" href="/menus/<%= menus._id %>/edit" role="button">Edit menus</a>

			<form action="/menus/<%= menus._id %>?_method=DELETE" method="POST">
				<button type="submit" class="btn btn-danger">Delete menus</button>
			</form>
		<% } %>

		<% if(user){%>
		<form style="display: inline" action="/<%= user._id %>/wishlist" method="POST">
			<input name="like" id="like" value="<%= menus._id %>" type="hidden" /><br>
			<button type="submit" class="btn btn-outline-info">Add to Wishlist</button>
		</form>
		<%}%>

		<p>
			<a href="/menus">Back to List</a>
		</p>
	</div>



</div>
<br>
<br>
<% include partials/footer %>