<% include partials/header %>

<br>
<br>
<br>
<br>
<div class="container">
<h1> Movie Details </h1>

<p><img src="/images/<%= menus.image %>" /></p>
<p>Title: <%= menus.title %></p>
<p>Genre: <%= menus.genre %></p>
<p>Description: <%= menus.description %></p>


<a class="btn btn-warning" href="/menus/<%= menus._id %>/edit" role="button">
Edit menus</a>


<form action="/menus/<%= menus._id %>?_method=DELETE" method="POST">

<button type="submit" class="btn btn-danger">Delete menus</button>

</form>

<p>
<a href="/">Back to List</a>
</p>

</div>
<br>
<br>
<br>
<br>
<br>
<% include partials/footer %>
