<% include partials/header %>
<br><br><br>

<div class="container">
    <h1>Hello <%= user.username%>!</h1>
    <h2>Your wishlist:</h2>
    <hr>

    <% wishlists.forEach(function(wl){ %>
    <div class="card mb-3" style="width: 70%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="/menus/<%= wl.menuObject._id %>">
                    <img class="card-img" src="/images/<%= wl.menuObject.image %>" style="width:180px; height:180px;" />
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div id="menuinfo" class="row align-items-center" style="font-size: 0.9rem">
                        <div class="col-md-6">
                            <p><strong>Name: </strong><%= wl.menuObject.name %></p>
                            <p><strong>Type: </strong><%= wl.menuObject.type %></p>
                            <p><strong>Price: </strong>$<%= wl.menuObject.price %></p>
                        </div>
                        <div class="col-md-6">
                            <form action="/<%= user._id%>/wishlist?_method=DELETE" method="POST">
                                <input name="wlmenuname" id="wlmenuname" value="<%= wl.menuObject.name %>"
                                    type="hidden" />
                                <input name="wlusername" id="wlusername" value="<%= user.username %>" type="hidden" />
                                <button type="submit" class="btn btn-danger">Remove from Wishlist</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
    <a href="/menus" class="btn btn-primary">Back to Home</a>
</div>

<br><br><br>
<% include partials/footer %>